* {
    box-sizing: border-box;
}

/* This is a root selector that allows to to make a css variable and set it to multiple classes or ids. Here we've made a lot of colour variables */
:root {
    --primary: red;
    --secondary: white;
    --cardHead: blue;
    --cardText: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles the very top of the page. The top bit is red and the text inside is white */
#navbar {
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 50px;
}

.navbar-brand {
    font-size: 50px;
}

/* Styles the cards, the tops are blue and the text is white */
.card-header {
    background-color: var(--cardHead);
    color: var(--secondary);
}

/* Styles the inside of the cards. The background is white and the text is black */
.card-body {
    background-color: var(--secondary);
    color: var(--cardText);
}

.container {
    margin: 100px auto;
    justify-content: space-evenly;
    display: flex;
    
}